body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("img/back3.jpg"), linear-gradient(#d3d3d3, #d3d3d3);
  /* W3C */
  font-family: "Lato", sans-serif;
}

* {
  list-style: none;
}

section {
  width: 90%;
  margin: 20px auto;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  height: auto;
  margin: 0 auto;
  padding: 20px 15px;
  background-color: #f3f3fa;
}

header {
  background-color: #fff;
  height: 60px;
}
header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 1px 10px;
}
header nav .logo a img {
  width: 100px;
  height: 50px;
}
header nav .humbergur {
  font-size: 30px;
  display: none;
}
header nav ul {
  display: flex;
  align-items: center;
  right: 20px;
}
header nav ul li {
  padding: 0 20px;
}
header nav ul li a {
  font-size: 17px;
  color: #272a31;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
header nav ul .enroll {
  border: 3px solid #fc442f;
  padding: 5px 7px;
}
header nav ul .enroll a {
  color: #ec5242;
}
header nav ul .active a {
  color: #ec5242;
}
header nav ul li a:hover {
  color: #d62828;
}

.footer {
  width: 70%;
}
.footer footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer footer .footer-title {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer footer .footer-title .fa-brands {
  font-size: 35px;
}
.footer footer .footer-title h4 {
  font-family: "COCOGOOSE", sans-serif;
  font-weight: 600;
  font-size: 22px;
}
.footer footer .footer-body {
  width: 70%;
}
.footer footer .footer-body p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.program {
  width: 100%;
  text-align: center;
  padding: 50px 0;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #17171a;
  opacity: 0.9;
  background-image: linear-gradient(135deg, #020310 25%, transparent 25%), linear-gradient(225deg, #020310 25%, transparent 25%), linear-gradient(45deg, #020310 25%, transparent 25%), linear-gradient(315deg, #020310 25%, #17171a 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 10px 10px;
  background-repeat: repeat;
}
.program h2 {
  padding: 0;
}
.program hr {
  border: 2px solid #d62828;
  width: 10%;
}
.program .program-items {
  display: grid;
  width: 80%;
  margin: 20px auto;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}
.program .program-items .program-item {
  padding: 10px 10px;
  background-color: #292626;
}
.program .program-items .program-item i {
  color: white;
  font-size: 30px;
}
.program .program-items .program-item h3 {
  color: #ec5242;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 16px;
}
.program .program-items .program-item p {
  font-size: 12px;
}
.program .program-link {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.horizon {
  border: 1px solid #d62828;
  width: 5%;
}

.team-section {
  margin: 50px 0;
  width: 100%;
}
.team-section h2 {
  text-align: center;
}
.team-section h2 span {
  color: #d62828;
}
.team-section .horizon {
  border: 2px solid #d62828;
  width: 5%;
}
.team-section .team-members {
  width: 80%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.team-section .team-members .team {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.team-section .team-members .team .image-div {
  position: relative;
  width: 30%;
  display: block;
  z-index: 1;
  justify-content: center;
}
.team-section .team-members .team .image-div .pattern {
  width: 50px;
  top: -10px;
  left: -10px;
  height: 50px;
  display: block;
  position: absolute;
  z-index: -1;
}
.team-section .team-members .team .image-div img {
  z-index: 1;
}
.team-section .team-members .team .body-div {
  width: 70%;
  text-align: start;
}
.team-section .team-members .team .body-div h4 {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}
.team-section .team-members .team .body-div h5 {
  color: #d62828;
  font-size: 13px;
}
.team-section .team-members .team .body-div .dash {
  border: 1px solid rgb(179, 171, 171);
  width: 10%;
  margin-left: 0;
}
.team-section .team-members .team .body-div p {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.team-section .see-more {
  width: 100%;
  border: 1px solid #8a817c;
  display: none;
}

.partners-section {
  background-color: #1f2421;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}
.partners-section h2 {
  margin: 20px 0;
  color: #8a817c;
}
.partners-section .my-partner {
  width: 80%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.partners-section .my-partner .part1 h3 {
  color: #8a817c;
  text-transform: capitalize;
}
.partners-section .my-partner .part2 h3 {
  color: #c5c3c6;
  text-transform: capitalize;
}
.partners-section .my-partner .part3 h3 {
  color: #8a817c;
  text-transform: uppercase;
}
.partners-section .my-partner .part4 h3 {
  color: #c5c3c6;
  text-transform: capitalize;
}
.partners-section .my-partner .part5 h3 {
  color: #8a817c;
  text-transform: lowercase;
}

.home-pg {
  min-height: 70vh;
  position: relative;
  background-image: url("../img/desk.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-pg .r4 {
  right: 50%;
  top: 200px;
}
.home-pg .r1 {
  width: 80px;
  height: 80px;
}
.home-pg .circle {
  width: 80px;
  height: 80px;
  position: absolute;
}
.home-pg .content-sec {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}
.home-pg .content-sec .descript-sec {
  width: 60%;
}
.home-pg .content-sec .descript-sec .welcome {
  font-family: "COCOGOOSE", sans-serif;
  color: #d62828;
}
.home-pg .content-sec .descript-sec .welcome h2 {
  font-weight: 800;
  font-size: 25px;
}
.home-pg .content-sec .descript-sec .welcome h1 {
  font-size: 30px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #ec5242, rgb(153, 15, 5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-pg .content-sec .descript-sec .text-description {
  position: relative;
}
.home-pg .content-sec .descript-sec .text-description h4 {
  color: #d62828;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  position: relative;
  font-size: 18px;
}
.home-pg .content-sec .descript-sec .text-description span {
  position: absolute;
  text-align: center;
}
.home-pg .content-sec .descript-sec .text-description p {
  border: 2px solid white;
  color: #272a31;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  line-height: 20px;
  margin-right: 10px;
  font-size: 14px;
}
.home-pg .content-sec .image-sec {
  width: 40%;
}
.home-pg .content-sec .image-sec .btn {
  width: 100%;
  margin: 0 50px;
}
.home-pg .content-sec .image-sec .btn a {
  padding: 9px 50px;
  color: #d62828;
  margin: 10px 0;
  border: 2px dotted #d62828;
  text-decoration: none;
}
.home-pg .content-sec .image-sec .btn div {
  transition: all 1s linear;
}
.home-pg .content-sec .image-sec .btn div:hover {
  transform: scale(1.05);
}
.home-pg .content-sec .image-sec .btn div:hover a {
  font-weight: 600;
}
.home-pg .content-sec .image-sec .btn .click-here {
  position: relative;
}
.home-pg .content-sec .image-sec .btn .click-here h5 {
  position: absolute;
  color: #d62828;
  font-size: 20px;
  top: 15px;
}
.home-pg .content-sec .image-sec .btn .click-here h5 span {
  color: blue;
}
.home-pg .content-sec .image-sec .btn .click-here .fa-arrow-circle-down {
  position: absolute;
  font-size: 32px;
  color: #f32009;
  top: -50px;
  left: 60%;
  transform: rotate(20deg);
}

@media (max-width: 768px) {
  header nav {
    position: relative;
  }
  header nav .humbergur {
    position: absolute;
    top: 15px;
    left: 20px;
    display: block;
  }
  header nav .logo {
    display: none;
  }
  header nav .logo a img {
    width: 80px;
    height: 40px;
  }
  header nav ul {
    background-color: #d62828;
    flex-direction: column;
    width: 100%;
    text-align: start;
    display: block;
    height: 100vh;
    position: fixed;
    top: 45px;
    left: 0;
    z-index: 1000;
    transition: transform 1s linear;
    transform: translateY(-120%);
  }
  header nav ul li {
    padding: 15px 0;
  }
  header nav ul li a {
    font-family: "Roboto Flex", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
  }
  header nav ul .enroll {
    border: 3px solid #fdf9f8;
    padding: 5px 7px;
    width: 20%;
  }
  header nav ul .enroll a {
    color: #fdf9f9;
  }

  .footer {
    width: 70%;
  }
  .footer footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .footer footer .footer-title {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer footer .footer-title .fa-brands {
    font-size: 35px;
  }
  .footer footer .footer-title h4 {
    font-family: "COCOGOOSE", sans-serif;
    font-weight: 600;
    font-size: 22px;
  }
  .footer footer .footer-body {
    width: 70%;
  }
  .footer footer .footer-body p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
  }

  .program {
    width: 100%;
    text-align: center;
    padding: 40px 0;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #17171a;
    opacity: 0.9;
    background-image: linear-gradient(135deg, #020310 25%, transparent 25%), linear-gradient(225deg, #020310 25%, transparent 25%), linear-gradient(45deg, #020310 25%, transparent 25%), linear-gradient(315deg, #020310 25%, #17171a 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
  }
  .program h2 {
    padding: 0;
  }
  .program hr {
    border: 2px solid #d62828;
    width: 20%;
  }
  .program .program-items {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    width: 80%;
    margin: 40px auto;
  }
  .program .program-items .program-item {
    display: flex;
    text-align: start;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    background-color: #292626;
  }
  .program .program-items .program-item i {
    color: white;
    font-size: 30px;
  }
  .program .program-items .program-item h3 {
    color: #ec5242;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 16px;
  }
  .program .program-items .program-item p {
    font-size: 12px;
  }
  .program .program-link {
    background-color: #d62828;
    padding: 20px 25px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 70px;
    text-decoration: none;
    text-transform: capitalize;
  }

  .showmenu {
    display: block;
    transform: translateY(0);
    transition: transform 1s;
  }

  .team-section {
    margin: 50px 0;
    width: 100%;
  }
  .team-section h2 {
    text-align: center;
  }
  .team-section h2 span {
    color: #d62828;
  }
  .team-section .horizon {
    border: 2px solid #d62828;
    width: 10%;
  }
  .team-section .see-more {
    width: 80%;
    border: 1px solid #8a817c;
    display: block;
    margin: 10px auto;
  }
  .team-section .see-more .group {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .team-section .see-more .group h5 {
    text-transform: uppercase;
    font-size: 18px;
  }
  .team-section .see-more .group .fa-solid {
    color: #d62828;
    font-size: 20px;
  }
  .team-section .team-members {
    width: 80%;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .team-section .team-members .team {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .team-section .team-members .team .image-div {
    position: relative;
    width: 30%;
    display: block;
    z-index: 1;
    justify-content: center;
  }
  .team-section .team-members .team .image-div .pattern {
    width: 50px;
    top: -10px;
    left: -10px;
    height: 50px;
    display: block;
    position: absolute;
    z-index: -1;
  }
  .team-section .team-members .team .image-div img {
    z-index: 1;
  }
  .team-section .team-members .team .body-div {
    width: 70%;
    text-align: start;
  }
  .team-section .team-members .team .body-div h4 {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }
  .team-section .team-members .team .body-div h5 {
    color: #d62828;
    font-size: 13px;
  }
  .team-section .team-members .team .body-div .dash {
    border: 1px solid rgb(179, 171, 171);
    width: 10%;
    margin-left: 0;
  }
  .team-section .team-members .team .body-div p {
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }

  .partners-section {
    background-color: #1f2421;
    text-align: center;
    padding: 20px 0;
    width: 100%;
  }
  .partners-section h2 {
    margin: 20px 0;
    color: #8a817c;
  }
  .partners-section .my-partner {
    width: 80%;
    margin: 10px auto;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  .partners-section .my-partner .part1 h3 {
    color: #8a817c;
    text-transform: capitalize;
  }
  .partners-section .my-partner .part2 h3 {
    color: #c5c3c6;
    text-transform: capitalize;
  }
  .partners-section .my-partner .part3 h3 {
    color: #8a817c;
    text-transform: uppercase;
  }
  .partners-section .my-partner .part4 h3 {
    color: #c5c3c6;
    text-transform: capitalize;
  }
  .partners-section .my-partner .part5 h3 {
    color: #8a817c;
    text-transform: lowercase;
  }

  .home-pg {
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("../img/mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .home-pg .r4 {
    top: 100px;
    right: 5%;
  }
  .home-pg .r1 {
    width: 200px;
    height: 200px;
  }
  .home-pg .content-sec {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  .home-pg .content-sec .descript-sec {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .home-pg .content-sec .descript-sec .welcome {
    font-family: "COCOGOOSE", sans-serif;
  }
  .home-pg .content-sec .descript-sec .welcome h2 {
    font-weight: 800;
    font-size: 22px;
  }
  .home-pg .content-sec .descript-sec .welcome h1 {
    font-size: 25px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #f32009, rgb(109, 8, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .home-pg .content-sec .descript-sec .text-description {
    position: relative;
  }
  .home-pg .content-sec .descript-sec .text-description h4 {
    color: #d62828;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    position: relative;
    font-size: 17px;
  }
  .home-pg .content-sec .descript-sec .text-description span {
    position: absolute;
    text-align: center;
  }
  .home-pg .content-sec .descript-sec .text-description .hr {
    top: 50px;
    border: 1px solid #d62828;
    width: 1000%;
  }
  .home-pg .content-sec .descript-sec .text-description p {
    color: #272a31;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    line-height: 20px;
  }
  .home-pg .content-sec .image-sec {
    width: 100%;
    margin-top: 40px;
  }
  .home-pg .content-sec .image-sec .btn {
    width: 100%;
    margin: 0 50px;
  }
  .home-pg .content-sec .image-sec .btn a {
    padding: 9px 50px;
    color: #d62828;
    margin: 10px 0;
    border: 2px dotted #d62828;
    text-decoration: none;
  }
  .home-pg .content-sec .image-sec .btn div {
    transition: all 1s linear;
  }
  .home-pg .content-sec .image-sec .btn div:hover {
    transform: scale(1.05);
  }
  .home-pg .content-sec .image-sec .btn div:hover a {
    font-weight: 600;
  }
  .home-pg .content-sec .image-sec .btn .click-here {
    position: relative;
  }
  .home-pg .content-sec .image-sec .btn .click-here h5 {
    position: absolute;
    color: #d62828;
    font-size: 20px;
    top: 15px;
  }
  .home-pg .content-sec .image-sec .btn .click-here h5 span {
    color: blue;
  }
  .home-pg .content-sec .image-sec .btn .click-here .fa-arrow-circle-down {
    position: absolute;
    font-size: 32px;
    color: #f32009;
    top: -40px;
    left: 40%;
    transform: rotate(20deg);
  }
}

/*# sourceMappingURL=style.css.map */
