$goose: 'COCOGOOSE',
  sans-serif;
$lato: 'Lato',
  sans-serif;
$bg-color:#d3d3d3;
$txt-color:#272a31;
$title-color:#d62828;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("img/back3.jpg"), linear-gradient(#d3d3d3, #d3d3d3);

  /* W3C */
  font-family: $lato;
}

* {
  list-style: none;
}

section {
  width: 100%;
  margin: 30px auto;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 20px 15px;
  background-color: #f3f1f1;
}

header {
  background-color: #fff;
  height: 60px;

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 5px 10px;

    .logo a img {
      width: 100px;
      height: 50px;
    }

    .humbergur {
      font-size: 30px;
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      right: 20px;

      li {
        padding: 0 10px;

        a {
          font-size: 17px;
          color: $txt-color;
          text-decoration: none;
        }
      }

      li a:hover {
        color: $title-color;
      }
    }
  }
}

.program {
  text-align: center;
  padding: 50px 0;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #17171a;
  opacity: 0.9;
  background-image: linear-gradient(135deg, #020310 25%, transparent 25%), linear-gradient(225deg, #020310 25%, transparent 25%), linear-gradient(45deg, #020310 25%, transparent 25%), linear-gradient(315deg, #020310 25%, #17171a 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 10px 10px;
  background-repeat: repeat;

  h2 {
    padding: 0;
  }

  hr {
    border: 2px solid $title-color;
    width: 10%;
  }

  .program-items {
    display: flex;
    gap: 20px;
    width: 90%;
    margin: 50px auto;

    .program-item {
      padding: 10px 10px;
      background-color: #292626;

      i {
        color: white;
        font-size: 30px;
      }

      h3 {
        color: #ec5242;
        font-family: $lato;
        font-weight: 900;
        font-size: 16px;
      }

      p {
        font-size: 12px;
      }
    }
  }

  .program-link {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 70px;
  }
}

.home-pg {
  min-height: 70vh;
  position: relative;

  .r4 {
    right: 50%;
    top: 200px;
  }

  .r1 {
    width: 80px;
    height: 80px;
  }

  .circle {
    width: 80px;
    height: 80px;
    position: absolute;
  }

  .content-sec {
    display: flex;
    align-items: center;
    margin: 20px 10px;

    .descript-sec {
      width: 50%;

      .welcome {
        font-family: $goose;
        color: $title-color;

        h2 {
          font-weight: 800;
          font-size: 28px;
        }

        h1 {
          font-size: 32px;
          text-transform: uppercase;
          background-image: linear-gradient(to right, #ec5242, rgb(153, 15, 5));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .text-description {
        position: relative;

        h4 {
          color: $title-color;
          font-family: $lato;
          font-weight: 600;
          position: relative;
          font-size: 20px;
        }

        span {
          position: absolute;
          text-align: center;
        }

        p {
          color: $txt-color;
          font-family: $lato;
          font-weight: 600;
          line-height: 30px;
          margin-right: 10px;
          font-size: 18px;
        }
      }
    }

    .image-sec {
      width: 50%;
    }
  }
}

@media (max-width: 768px) {
  header {
    nav {
      position: relative;

      .humbergur {
        position: absolute;
        top: 15px;
        left: 20px;
        display: block;
      }

      .logo {
        display: none;
      }

      .logo a img {
        width: 80px;
        height: 40px;
      }

      ul {
        background-color: $title-color;
        flex-direction: column;
        width: 100%;
        text-align: start;
        display: block;
        height: 100vh;
        position: fixed;
        top: 45px;
        left: 0;
        z-index: 1000;
        transition: transform 1s linear;
        transform: translateY(-120%);

        li {
          padding: 15px 0;

          a {
            font-family: 'Roboto Flex', sans-serif;
            font-weight: 500;
            font-size: 22px;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }

  .program {
    text-align: center;
    padding: 40px 0;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #17171a;
    opacity: 0.9;
    background-image: linear-gradient(135deg, #020310 25%, transparent 25%), linear-gradient(225deg, #020310 25%, transparent 25%), linear-gradient(45deg, #020310 25%, transparent 25%), linear-gradient(315deg, #020310 25%, #17171a 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;

    h2 {
      padding: 0;
    }

    hr {
      border: 2px solid $title-color;
      width: 20%;
    }

    .program-items {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      margin: 40px auto;

      .program-item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 10px 15px;
        background-color: #292626;

        i {
          color: white;
          font-size: 30px;
        }

        h3 {
          color: #ec5242;
          font-family: $lato;
          font-weight: 900;
          font-size: 16px;
        }

        p {
          font-size: 12px;
        }
      }
    }

    .program-link {
      background-color: $title-color;
      padding: 20px 25px;
      color: #fff;
      font-size: 16px;
      margin-bottom: 70px;
      text-decoration: none;
      text-transform: capitalize;
    }
  }

  .home-pg {
    margin: 0 auto;
    .r4{
   top: 100px;
   right: 5%;
    }
    .r1{
      width: 200px;
      height: 200px;
    }

    .content-sec {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 0;

      .descript-sec {
        width: 100%;

        .welcome {
          font-family: $goose;
          color: $title-color;

          h2 {
            font-weight: 800;
            font-size: 22px;
          }

          h1 {
            font-size: 25px;
            text-transform: uppercase;
            background-image: linear-gradient(to right, #f32009, rgb(109, 8, 1));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        .text-description {
          position: relative;

          h4 {
            color: $title-color;
            font-family: $lato;
            font-weight: 600;
            position: relative;
            font-size: 17px;
          }

          span {
            position: absolute;
            text-align: center;
          }

          .hr {
            top: 50px;
            border: 1px solid $title-color;
            width: 1000%;
          }

          p {
            color: $txt-color;
            font-family: $lato;
            font-weight: 600;
            line-height: 20px;
          }
        }
      }

      .image-sec {
        width: 100%;
      }
    }
  }

  .showmenu {
    display: block;
    transform: translateY(0);
    transition: transform 1s;
  }
}


