$goose: 'COCOGOOSE',
  sans-serif;
$lato: 'Lato',
  sans-serif;
$bg-color:#d3d3d3;
$txt-color:#272a31;
$title-color:#d62828;

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("img/back3.jpg"), linear-gradient(#d3d3d3, #d3d3d3);

  /* W3C */
  font-family: $lato;
}

* {
  list-style: none;
}

section {
  width: 90%;
  margin: 20px auto;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: auto;
  margin: 0 auto;
  padding: 20px 15px;
  background-color: #f3f3fa;
}

header {
  background-color: #fff;
  height: 70px;

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 0 10px;

    .logo {
      justify-content: center;
      align-items: center;
    }

    .logo a img {
      width: 100px;
      height: 40px;
    }

    .humbergur {
      font-size: 30px;
      display: none;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      right: 20px;

      li {
        padding: 0 20px;

        a {
          font-size: 17px;
          color: $txt-color;
          text-decoration: none;
          font-family: $lato;
        }
      }

      .enroll {
        border: 3px solid #fc442f;
        padding: 5px 7px;

        a {
          color: #ec5242;
        }
      }

      .active a {
        color: #ec5242;
      }

      li a:hover {
        color: $title-color;
      }
    }
  }
}

.topnav {
  background-color: #020310;

  .top {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        color: white;
        padding-right: 20px;

        a {
          color: white;
          text-decoration: none;
          font-size: 12px;
        }
      }
    }
  }
}

.footer {
  width: 70%;

  footer {
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-title {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;

      .fa-brands {
        font-size: 35px;
      }

      h4 {
        font-family: $goose;
        font-weight: 600;
        font-size: 22px;
      }
    }

    .footer-body {
      width: 70%;

      p {
        font-family: $lato;
        font-weight: 300;
      }
    }
  }
}

.overlay {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: #8a817c;
  z-index: 100;
  backdrop-filter: blur(50px);
  display: none;

  .popup {
    display: none;
    border: #020310;
    background-color: #201d1d;
    width: 40%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 20px 20px;
    justify-content: center;

    h3 {
      text-align: center;
      color: white;
    }

    .line {
      border: 2px solid #fff;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 10px;

      p {
        font-size: 30px;
        color: white;
        cursor: pointer;
      }
    }

    form {
      margin: 10px 20px;

      .double {
        display: flex;
        gap: 40px;
      }

      .mb-3 {
        label {
          color: #fdf9f9;
        }

        width: 300px;

        .form-control {
          padding: 10px 10px;
          margin: 10px 0;
          border-radius: 10px;
          outline: none;
          border: none;
          width: 100%;
          text-align: start;
        }
      }

      button {
        padding: 10px 15px;
        text-align: center;
        background-color: rgb(59, 59, 243);
        color: white;
        outline: none;
        border: none;
        border-radius: 10px;
      }

      button:hover {
        background-color: #020310;
        color: white;
      }
    }
  }
}

.program {
  width: 100%;
  text-align: center;
  padding: 50px 0;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #17171a;
  opacity: 0.9;
  background-image: linear-gradient(135deg, #020310 25%, transparent 25%), linear-gradient(225deg, #020310 25%, transparent 25%), linear-gradient(45deg, #020310 25%, transparent 25%), linear-gradient(315deg, #020310 25%, #17171a 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 10px 10px;
  background-repeat: repeat;

  h2 {
    padding: 0;
  }

  hr {
    border: 2px solid $title-color;
    width: 10%;
  }

  .program-items {
    display: grid;
    width: 80%;
    margin: 20px auto;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);

    .program-item {
      padding: 10px 10px;
      background-color: #292626;

      i {
        color: white;
        font-size: 30px;
      }

      h3 {
        color: #ec5242;
        font-family: $lato;
        font-weight: 900;
        font-size: 16px;
      }

      p {
        font-size: 12px;
      }
    }
  }

  .program-link {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 70px;
  }
}

.horizon {
  border: 1px solid $title-color;
  width: 5%;
}

.team-section {
  margin: 50px 0;
  width: 100%;

  h2 {
    text-align: center;

    span {
      color: $title-color;
    }
  }

  .horizon {
    border: 2px solid $title-color;
    width: 5%;
  }

  .team-members {
    width: 80%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    .team {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .image-div {
        position: relative;
        width: 30%;
        display: block;
        z-index: 1;
        justify-content: center;

        .pattern {
          width: 50px;
          top: -10px;
          left: -10px;
          height: 50px;
          display: block;
          position: absolute;
          z-index: -1;
        }

        img {
          z-index: 1;
        }
      }

      .body-div {
        width: 70%;
        text-align: start;

        h4 {
          font-size: 16px;
          font-family: $lato;
          font-weight: 900;
        }

        h5 {
          color: $title-color;
          font-size: 13px;
        }

        .dash {
          border: 1px solid rgb(179, 171, 171);
          width: 10%;
          margin-left: 0;
        }

        p {
          font-size: 12px;
          font-family: $lato;
          font-weight: 400;
        }
      }
    }
  }

  .see-more {
    width: 100%;
    border: 1px solid #8a817c;
    display: none;
  }
}

.partners-section {
  background-color: #1f2421;
  text-align: center;
  padding: 20px 0;
  width: 100%;

  h2 {
    margin: 20px 0;
    color: #8a817c;
  }

  .my-partner {
    width: 80%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;

    .part1 {
      h3 {
        color: #8a817c;
        text-transform: capitalize;
      }
    }

    .part2 {
      h3 {
        color: #c5c3c6;
        text-transform: capitalize;
      }
    }

    .part3 {
      h3 {
        color: #8a817c;
        text-transform: uppercase;
      }
    }

    .part4 {
      h3 {
        color: #c5c3c6;
        text-transform: capitalize;
      }
    }

    .part5 {
      h3 {
        color: #8a817c;
        text-transform: lowercase;
      }
    }
  }
}

.home-pg {
  min-height: 70vh;
  position: relative;
  background-image: url('../img/desk.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .r4 {
    right: 50%;
    top: 200px;
  }

  .r1 {
    width: 80px;
    height: 80px;
  }

  .circle {
    width: 80px;
    height: 80px;
    position: absolute;
  }

  .content-sec {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;

    .descript-sec {
      width: 60%;

      .welcome {
        font-family: $goose;
        color: $title-color;

        h2 {
          font-weight: 800;
          font-size: 25px;
        }

        h1 {
          font-size: 30px;
          text-transform: uppercase;
          background-image: linear-gradient(to right, #ec5242, rgb(153, 15, 5));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .text-description {
        position: relative;

        h4 {
          color: $title-color;
          font-family: $lato;
          font-weight: 600;
          position: relative;
          font-size: 18px;
        }

        span {
          position: absolute;
          text-align: center;
        }

        p {
          border: 2px solid white;
          color: $txt-color;
          font-family: $lato;
          font-weight: 600;
          line-height: 20px;
          margin-right: 10px;
          font-size: 14px;
        }

        .intake-date {
          .horizon {
            text-align: start;
          }

          h2 {
            font-family: $goose;
            font-weight: 800;
            color: gray;
          }

          h4 {
            font-family: $lato;
            font-weight: 400;
            color: #020310;
          }
        }
      }
    }

    .image-sec {
      width: 40%;

      .btn {
        width: 100%;
        margin: 0 50px;

        a {
          padding: 9px 50px;
          color: $title-color;
          margin: 10px 0;
          border: 2px dotted $title-color;
          text-decoration: none;
        }

        div {
          transition: all 1s linear;
        }

        div:hover {
          transform: scale(1.05);

          a {
            font-weight: 600;
          }
        }

        .click-here {
          position: relative;

          h5 {
            position: absolute;
            color: $title-color;
            font-size: 20px;
            top: 15px;

            span {
              color: blue;
            }
          }

          .fa-arrow-circle-down {
            position: absolute;
            font-size: 32px;
            color: #f32009;
            top: -50px;
            left: 60%;
            transform: rotate(20deg);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    nav {
      position: relative;

      .humbergur {
        position: absolute;
        top: 15px;
        left: 20px;
        display: block;
      }

      .logo {
        display: none;
      }

      .logo a img {
        width: 80px;
        height: 40px;
      }

      ul {
        background-color: $title-color;
        flex-direction: column;
        width: 100%;
        text-align: start;
        display: block;
        height: 100vh;
        position: fixed;
        top: 45px;
        left: 0;
        z-index: 1000;
        transition: transform 1s linear;
        transform: translateY(-120%);

        li {
          padding: 15px 0;

          a {
            font-family: 'Roboto Flex', sans-serif;
            font-weight: 500;
            font-size: 22px;
            color: #fff;
            text-decoration: none;
          }
        }

        .active a {
          color: white;
        }

        .enroll {
          border: 3px solid #fdf9f8;
          padding: 5px 7px;
          width: 24%;

          a {
            color: #fdf9f9;
          }
        }
      }
    }
  }

  .topnav {
    display: none;
  }

  .footer {
    width: 70%;

    footer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;

      .footer-title {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;

        .fa-brands {
          font-size: 35px;
        }

        h4 {
          font-family: $goose;
          font-weight: 600;
          font-size: 22px;
        }
      }

      .footer-body {
        width: 70%;

        p {
          font-family: $lato;
          font-weight: 300;
        }
      }
    }
  }

  .overlay {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: #8a817c;
    z-index: 100;
    backdrop-filter: blur(50px);
    display: none;

    .popup {
      display: none;
      border: #020310;
      border-radius: 20px;
      background-color: #201d1d;
      width: 70%;
      margin: 10px auto;
      position: fixed;
      left: 42%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000;
      padding: 10px 10px;
      justify-content: center;

      h3 {
        text-align: center;
        color: white;
      }

      .line {
        border: 2px solid #fff;
      }

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;

        p {
          font-size: 30px;
          color: white;
          cursor: pointer;
        }
      }

      form {
        margin: 10px 20px;

        .double {
          flex-direction: column;
          gap: 40px;
        }

        .mb-3 {
          label {
            color: #fdf9f9;
          }

          .form-control {
            padding: 10px 10px;
            margin: 10px 0;
            border-radius: 10px;
            outline: none;
            border: none;
            width: 80%;
            text-align: start;
          }
        }

        button {
          padding: 10px 15px;
          text-align: center;
          background-color: rgb(59, 59, 243);
          color: white;
          outline: none;
          border: none;
          border-radius: 10px;
        }

        button:hover {
          background-color: #020310;
          color: white;
        }
      }
    }
  }

  .program {
    width: 100%;
    text-align: center;
    padding: 40px 0;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #17171a;
    opacity: 0.9;
    background-image: linear-gradient(135deg, #020310 25%, transparent 25%), linear-gradient(225deg, #020310 25%, transparent 25%), linear-gradient(45deg, #020310 25%, transparent 25%), linear-gradient(315deg, #020310 25%, #17171a 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;

    h2 {
      padding: 0;
    }

    hr {
      border: 2px solid $title-color;
      width: 20%;
    }

    .program-items {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 20px;
      width: 80%;
      margin: 40px auto;

      .program-item {
        display: flex;
        text-align: start;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 10px 15px;
        background-color: #292626;

        i {
          color: white;
          font-size: 30px;
        }

        h3 {
          color: #ec5242;
          font-family: $lato;
          font-weight: 900;
          font-size: 16px;
        }

        p {
          font-size: 12px;
        }
      }
    }

    .program-link {
      background-color: $title-color;
      padding: 20px 25px;
      color: #fff;
      font-size: 16px;
      margin-bottom: 70px;
      text-decoration: none;
      text-transform: capitalize;
    }
  }

  .showmenu {
    display: block;
    transform: translateY(0);
    transition: transform 1s;
  }

  .team-section {
    margin: 50px 0;
    width: 100%;

    h2 {
      text-align: center;

      span {
        color: $title-color;
      }
    }

    .horizon {
      border: 2px solid $title-color;
      width: 10%;
    }

    .see-more {
      width: 80%;
      border: 1px solid #8a817c;
      display: block;
      margin: 10px auto;

      .group {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;

        h5 {
          text-transform: uppercase;
          font-size: 18px;
        }

        .fa-solid {
          color: $title-color;
          font-size: 20px;
        }
      }
    }

    .team-members {
      width: 80%;
      margin: 30px auto;
      justify-content: center;
      align-items: center;
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;

      .team {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .image-div {
          position: relative;
          width: 30%;
          display: block;
          z-index: 1;
          justify-content: center;

          .pattern {
            width: 50px;
            top: -10px;
            left: -10px;
            height: 50px;
            display: block;
            position: absolute;
            z-index: -1;
          }

          img {
            z-index: 1;
          }
        }

        .body-div {
          width: 70%;
          text-align: start;

          h4 {
            font-size: 16px;
            font-family: $lato;
            font-weight: 900;
          }

          h5 {
            color: $title-color;
            font-size: 13px;
          }

          .dash {
            border: 1px solid rgb(179, 171, 171);
            width: 10%;
            margin-left: 0;
          }

          p {
            font-size: 12px;
            font-family: $lato;
            font-weight: 400;
          }
        }
      }

      .toggle:nth-child(n+3) {
        display: none;
      }
    }
  }

  .partners-section {
    background-color: #1f2421;
    text-align: center;
    padding: 20px 0;
    width: 100%;

    h2 {
      margin: 20px 0;
      color: #8a817c;
    }

    .my-partner {
      width: 80%;
      margin: 10px auto;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 20px;
      flex-wrap: wrap;

      .part1 {
        h3 {
          color: #8a817c;
          text-transform: capitalize;
          font-size: 16px;
        }
      }

      .part2 {
        h3 {
          color: #c5c3c6;
          text-transform: capitalize;
          font-size: 16px;
        }
      }

      .part3 {
        h3 {
          color: #8a817c;
          text-transform: uppercase;
          font-size: 16px;
        }
      }

      .part4 {
        h3 {
          color: #c5c3c6;
          text-transform: capitalize;
          font-size: 16px;
        }
      }

      .part5 {
        h3 {
          color: #8a817c;
          text-transform: lowercase;
          font-size: 16px;
        }
      }
    }
  }

  .home-pg {
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url('../img/mobile.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .r4 {
      top: 100px;
      right: 5%;
    }

    .r1 {
      width: 200px;
      height: 200px;
    }

    .content-sec {
      display: flex;
      width: 100%;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 20px 0;

      .descript-sec {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;

        .welcome {
          font-family: $goose;

          h2 {
            font-weight: 800;
            font-size: 22px;
          }

          h1 {
            font-size: 25px;
            text-transform: uppercase;
            background-image: linear-gradient(to right, #f32009, rgb(109, 8, 1));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        .text-description {
          position: relative;

          h4 {
            color: $title-color;
            font-family: $lato;
            font-weight: 600;
            position: relative;
            font-size: 17px;
          }

          span {
            position: absolute;
            text-align: center;
          }

          .hr {
            top: 50px;
            border: 1px solid $title-color;
            width: 1000%;
          }

          p {
            color: $txt-color;
            font-family: $lato;
            font-weight: 600;
            line-height: 20px;
          }
        }
      }

      .image-sec {
        width: 100%;
        margin-top: 40px;

        .btn {
          width: 100%;
          margin: 0 50px;

          a {
            padding: 9px 50px;
            color: $title-color;
            margin: 10px 0;
            border: 2px dotted $title-color;
            text-decoration: none;
          }

          div {
            transition: all 1s linear;
          }

          div:hover {
            transform: scale(1.05);

            a {
              font-weight: 600;
            }
          }

          .click-here {
            position: relative;

            h5 {
              position: absolute;
              color: $title-color;
              font-size: 20px;
              top: 15px;

              span {
                color: blue;
              }
            }

            .fa-arrow-circle-down {
              position: absolute;
              font-size: 32px;
              color: #f32009;
              top: -40px;
              left: 40%;
              transform: rotate(20deg);
            }
          }
        }
      }
    }
  }
}
